<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:beans.xml
		</param-value>
  </context-param>
  
  <filter>
  	<!-- 字符编码设置 springmvc 自带 -->
    <filter-name>char</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
		  	<param-name>encoding</param-name>
		  	<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter>
  	<filter-name>Login</filter-name>
  	<filter-class>cn.hncu.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>char</filter-name>
     <servlet-name>hncu</servlet-name>
  </filter-mapping>
  
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
     <servlet-name>hncu</servlet-name>
     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<!-- 可以通过自己配置namespace来指定SpringMVC配置文件名 -->
  	<init-param>
  	  <param-name>namespace</param-name>
  	  <param-value>hncu-servlet</param-value>
  	</init-param>
  </servlet>
  <servlet>
    <servlet-name>VerfyCode</servlet-name>
    <servlet-class>cn.hncu.utils.VerfyCode</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AdminaddPhoneServlet</servlet-name>
    <servlet-class>cn.hncu.admin.admin.cotroller.AdminaddPhoneServlet</servlet-class>
  </servlet>



  <servlet-mapping>
     <servlet-name>hncu</servlet-name>
     <url-pattern>/sp/*</url-pattern> <!-- 设置/sp/目录下的所有都进入springmvc的领域 -->
  </servlet-mapping>
  
  <servlet-mapping>
  	<!-- 验证码的使用 -->
    <servlet-name>VerfyCode</servlet-name>
    <url-pattern>/VerfyCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminaddPhoneServlet</servlet-name>
    <url-pattern>/AdminaddPhoneServlet</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>
  	<!-- 过滤器，当访问book下面的所有文件时，需要采用过滤器进行判断是否有这个权限 -->
  	<filter-name>Login</filter-name>
  	<url-pattern>/jsps/book/*</url-pattern>
  	<url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
